.auth-section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.auth-container {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    margin: 0 auto;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    z-index: 1;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    justify-content: center;
}

.auth-container button {
    cursor: pointer;
    width: 100%;
    padding: 5px 0px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #39e75f;
    font-size: 16px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #39e75f;
    font-weight: 600;
    transition: .3s ease;
}

.auth-container .auth-logo {
    height: 50px;
    width: 50px;
}

.auth-container .auth-logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.auth-container button:hover {
    background-color: #39e75f;
    color: white;
}

.auth-container h1 {
    font-size: 36px;
    font-weight: 600;
    color: #39e75f;
    margin: 10px 0;
}

.auth-container h4 {
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px;
    padding-top: 20px;
}

.auth-container span {
    font-size: 16px;
    font-weight: 500;
    color: #39e75f;
    cursor: pointer;
    margin-left: 10px;
    transition: all .3s ease;
}

.auth-container span:hover {
    color: #39e75f;
    text-decoration: underline;
}

.auth-container label {
    color: black;
}

.auth-container input {
    background-color: transparent;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.auth-container input:focus {
    border-color: black;
    background-color: transparent;
}

@keyframes move {
    0% {
        transform: translate3d(0, 0, -1000px) scale(0.5);
    }
    50% {
        transform: translate3d(0, 50%, -500px) scale(.75); 
    }
    100% {
        transform: translate3d(0, 100%, 0px) scale(1);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #f2f2f2;
    overflow: hidden;
    perspective: 1000px;
}

.background span {
    position: absolute;
    animation: move;
    animation-duration: 50;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.background span:nth-child(odd) {
    animation-duration: calc(5s + (5s * random(var(--rand1, 1))));
    animation-direction: alternate-reverse;
    animation-delay: calc(-1s * var(--rand2, 1));
    transform-origin: calc(50% * var(--rand3, 1)) calc(50% * var(--rand4, 1));
}

.background span:nth-child(even) {
    animation-duration: calc(4s + (6s * random(var(--rand5, 1))));
    animation-direction: alternate;
    animation-delay: calc(-2s * var(--rand6, 1));
    transform-origin: calc(30% * var(--rand7, 1)) calc(70% * var(--rand8, 1));
}
.background span:nth-child(0) {
    font-family: 'Arial', sans-serif;
    color: #53c191;
    top: 80%;
    left: 5%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -24vw -9vh;
}
.background span:nth-child(1) {
    font-family: 'Arial', sans-serif;
    color: #53c191;
    top: 80%;
    left: 73%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -24vw -9vh;
}
.background span:nth-child(2) {
    font-family: 'Courier New', Courier, monospace;
    color: #17a120;
    top: 73%;
    left: 40%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 20vw 25vh;
}
.background span:nth-child(3) {
    font-family: 'Georgia', serif;
    color: #53c191;
    top: 62%;
    left: 65%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -7vw -11vh;
}
.background span:nth-child(4) {
    font-family: 'Times New Roman', Times, serif;
    color: #05ff44;
    top: 21%;
    left: 5%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 0vw -17vh;
}
.background span:nth-child(5) {
    font-family: 'Verdana', Geneva, sans-serif;
    color: #53c191;
    top: 87%;
    left: 63%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -8vw 15vh;
}
.background span:nth-child(6) {
    font-family: 'Lucida Console', Monaco, monospace;
    color: #53c191;
    top: 1%;
    left: 19%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -21vw 17vh;
}
.background span:nth-child(7) {
    font-family: 'Tahoma', Geneva, sans-serif;
    color: #05ff44;
    top: 3%;
    left: 11%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -12vw -20vh;
}
.background span:nth-child(8) {
    font-family: 'Trebuchet MS', sans-serif;
    color: #53c191;
    top: 84%;
    left: 50%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -17vw -21vh;
}
.background span:nth-child(9) {
    font-family: 'Impact', sans-serif;
    color: #17a120;
    top: 67%;
    left: 78%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 3vw 21vh;
}
.background span:nth-child(10) {
    font-family: 'Arial', sans-serif;
    color: #17a120;
    top: 13%;
    left: 75%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 10vw -10vh;
}
.background span:nth-child(11) {
    font-family: 'Georgia', serif;
    color: #05ff44;
    top: 87%;
    left: 20%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 18vw 22vh;
}
.background span:nth-child(12) {
    font-family: 'Courier New', Courier, monospace;
    color: #05ff44;
    top: 29%;
    left: 39%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -23vw -3vh;
}
.background span:nth-child(13) {
    font-family: 'Verdana', Geneva, sans-serif;
    color: #17a120;
    top: 63%;
    left: 95%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -21vw -14vh;
}
.background span:nth-child(14) {
    font-family: 'Lucida Console', Monaco, monospace;
    color: #17a120;
    top: 83%;
    left: 16%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 0vw -5vh;
}
.background span:nth-child(15) {
    font-family: 'Times New Roman', Times, serif;
    color: #05ff44;
    top: 100%;
    left: 62%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -5vw -24vh;
}.background span:nth-child(16) {
    font-family: 'Arial', sans-serif;
    color: #53c191;
    top: 48%;
    left: 89%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 24vw 15vh;
}
.background span:nth-child(17) {
    font-family: 'Courier New', Courier, monospace;
    color: #53c191;
    top: 8%;
    left: 96%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 2vw 18vh;
}
.background span:nth-child(18) {
    font-family: 'Georgia', serif;
    color: #05ff44;
    top: 75%;
    left: 14%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 20vw 20vh;
}
.background span:nth-child(19) {
    font-family: 'Verdana', Geneva, sans-serif;
    color: #53c191;
    top: 69%;
    left: 84%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -1vw 8vh;
}
.background span:nth-child(20) {
    font-family: 'Times New Roman', Times, serif;
    color: #53c191;
    top: 97%;
    left: 9%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -21vw 7vh;
}
.background span:nth-child(21) {
    font-family: 'Lucida Console', Monaco, monospace;
    color: #53c191;
    top: 71%;
    left: 47%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 20vw 12vh;
}
.background span:nth-child(22) {
    font-family: 'Trebuchet MS', sans-serif;
    color: #53c191;
    top: 36%;
    left: 23%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 3vw -21vh;
}
.background span:nth-child(23) {
    font-family: 'Impact', sans-serif;
    color: #05ff44;
    top: 81%;
    left: 55%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -7vw 15vh;
}
.background span:nth-child(24) {
    font-family: 'Tahoma', Geneva, sans-serif;
    color: #17a120;
    top: 41%;
    left: 56%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 21vw -19vh;
}
.background span:nth-child(25) {
    font-family: 'Courier New', Courier, monospace;
    color: #53c191;
    top: 72%;
    left: 2%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -17vw 14vh;
}
.background span:nth-child(26) {
    font-family: 'Arial', sans-serif;
    color: #17a120;
    top: 60%;
    left: 14%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 12vw 19vh;
}
.background span:nth-child(27) {
    font-family: 'Georgia', serif;
    color: #05ff44;
    top: 83%;
    left: 6%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 0vw -14vh;
}
.background span:nth-child(28) {
    font-family: 'Lucida Console', Monaco, monospace;
    color: #05ff44;
    top: 55%;
    left: 73%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -9vw -14vh;
}
.background span:nth-child(29) {
    font-family: 'Verdana', Geneva, sans-serif;
    color: #17a120;
    top: 32%;
    left: 83%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -6vw 2vh;
}
.background span:nth-child(30) {
    font-family: 'Times New Roman', Times, serif;
    color: #05ff44;
    top: 56%;
    left: 75%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -22vw 21vh;
}
.background span:nth-child(31) {
    color: #53c191;
    top: 50%;
    left: 71%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -1vw -3vh;
    font-family: 'Arial', sans-serif;
}
.background span:nth-child(32) {
    color: #53c191;
    top: 48%;
    left: 97%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 25vw 2vh;
    font-family: 'Courier New', monospace; 
}
.background span:nth-child(33) {
    color: #17a120;
    top: 17%;
    left: 84%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -13vw 19vh;
    font-family: 'Georgia', serif; 
}
.background span:nth-child(34) {
    color: #05ff44;
    top: 85%;
    left: 89%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 20vw -8vh;
    font-family: 'Tahoma', sans-serif; 
}
.background span:nth-child(35) {
    color: #05ff44;
    top: 11%;
    left: 84%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -17vw -20vh;
    font-family: 'Verdana', sans-serif; 
}
.background span:nth-child(36) {
    color: #05ff44;
    top: 7%;
    left: 60%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -6vw -18vh;
    font-family: 'Times New Roman', serif; 
}
.background span:nth-child(37) {
    color: #05ff44;
    top: 56%;
    left: 42%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -14vw 17vh;
    font-family: 'Lucida Console', monospace; 
}
.background span:nth-child(38) {
    color: #53c191;
    top: 23%;
    left: 53%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 18vw -18vh;
    font-family: 'Comic Sans MS', sans-serif; 
}
.background span:nth-child(39) {
    color: #05ff44;
    top: 72%;
    left: 23%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -13vw 22vh;
    font-family: 'Impact', sans-serif;
}
.background span:nth-child(40) {
    color: #17a120;
    top: 49%;
    left: 56%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 11vw -14vh;
    font-family: 'Arial', sans-serif; 
}
.background span:nth-child(41) {
    color: #05ff44;
    top: 17%;
    left: 27%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 4vw -16vh;
    font-family: 'Courier New', monospace; 
}
.background span:nth-child(42) {
    color: #17a120;
    top: 87%;
    left: 10%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -21vw -8vh;
    font-family: 'Georgia', serif; 
}
.background span:nth-child(43) {
    color: #53c191;
    top: 29%;
    left: 99%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -19vw -14vh;
    font-family: 'Tahoma', sans-serif; 
}
.background span:nth-child(44) {
    color: #53c191;
    top: 82%;
    left: 26%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 14vw 16vh;
    font-family: 'Verdana', sans-serif; 
}
.background span:nth-child(45) {
    color: #17a120;
    top: 21%;
    left: 59%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -22vw -4vh;
    font-family: 'Times New Roman', serif;
}
.background span:nth-child(46) {
    color: #05ff44;
    top: 57%;
    left: 58%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 10vw 11vh;
    font-family: 'Lucida Console', monospace; 
}
.background span:nth-child(47) {
    color: #17a120;
    top: 78%;
    left: 68%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -20vw 6vh;
    font-family: 'Comic Sans MS', sans-serif; 
}
.background span:nth-child(48) {
    color: #05ff44;
    top: 56%;
    left: 9%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -14vw -13vh;
    font-family: 'Impact', sans-serif; 
}
.background span:nth-child(49) {
    color: #05ff44;
    top: 55%;
    left: 100%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -9vw 9vh;
    font-family: 'Arial', sans-serif; 
}
.background span:nth-child(50) {
    color: #05ff44;
    top: 5%;
    left: 100%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -9vw 9vh;
    font-family: 'Arial', sans-serif; 
}
